[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
asyncpg = "*"
psycopg2 = "*"
simplejson = "*"
requests = "*"
marshmallow = "*"
passlib = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
